# Yarn berry with node modules linker
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

# Yarn 2 Node Modules
**/node_modules/

# Javascript/Typescript builds
**/build/
**/dist/
*.tsbuildinfo


# Turborepo
**/.turbo

# WebStorm (IntelliJ)
.idea/
